body {
    background-color: #B9F3E4;
}
hr {
    border-style: dotted;
    border-color: rgb(149, 216, 214);
    border-width: 8px;
    width: 8%;
    background-color: #B9F3E4;
    border-bottom: none;

}
h3 {
    color: #1a4e71;
    text-align: center;
}
h1 {
    color: rgb(0, 82, 115);
    text-align: center;
}